gamebot-competition-master/PythonAPI/strenv/Lib/site-packages/clang/native/libclang.dll
gamebot-competition-master/PythonAPI/strenv/Lib/site-packages/xgboost/lib/xgboost.dll
gamebot-competition-master/PythonAPI/strenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
